name: run main.py daily

on:
  schedule:
    - cron: '10 4 * * *'   # 0 12 = 12:00 in UTC time
  workflow_dispatch:        # 允許你手動按鈕觸發

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run script
        env:
          GCP_CLIENT_SECRET_JSON: ${{ secrets.GCP_CLIENT_SECRET_JSON }}
          GCP_TOKEN_JSON: ${{ secrets.GCP_TOKEN_JSON }}
        run: python main2.py
